<xf:checkboxrow label="{$option.title}"
			hint="{$hintHtml}"
			explain="{$explainHtml}"
			html="{$listedHtml}">
	<xf:foreach loop="$choices" value="$choice">
		<xf:option checked="{{ $choice.selected }}" name="{$inputName}[{$choice.contentType}][checked]" label="{$choice.phraseName}" value="1" data-hide="true">
			<xf:dependent>
				<xf:numberbox name="{$inputName}[{$choice.contentType}][value]"
							  value="{$choice.value}"
							  min="0"
							  step="1" />
			</xf:dependent>
		</xf:option>
	</xf:foreach>
</xf:checkboxrow>