<xf:macro name="search_only_container" 
		  arg-input="{{ [] }}" 
		  arg-containerType=""
		  arg-wrap="{{ true }}"
		  >

	<xf:if is="$containerType">
		<li>
			<xf:set var="$phrase" value="{{ phrase_dynamic('svSearchImprov_search_container.'.$containerType) }}" />
			<xf:set var="$label" value="{{
			$phrase !== 'svSearchImprov_search_container.'.$containerType 
				? $phrase 
				: phrase('svSearchImprov_search_container.x_only', {
					'containerType': $xf.app.getContentTypePhrase($containerType, true)|to_lower
				}) 
			}}" />
			<xf:checkbox standalone="true">
				<xf:option name="c[content]" value="{$containerType}"
						   selected="{{ $input.c.content === $containerType }}"
						   label="{$label}"
						   />
			</xf:checkbox>
		</li>
	</xf:if>
</xf:macro>