<xf:macro name="replies"
		  global="1"
		  arg-label="{{ phrase('svSearchImprov_reply_count') }}"
		  >
	<xf:macro name="range" 
			  arg-label="{$label}"
			  arg-name="replies"
			  />
</xf:macro>

<xf:macro name="range"
		  global="1"
		  arg-name="!"
		  arg-label="!"
		  >
	<xf:set var="$lowConstraint" value="c.{$name}.lower" />
	<xf:set var="$upperConstraint" value="c.{$name}.upper" />
	<xf:formrow label="{$label}">
		<div class="inputGroup">
			<xf:numberbox name="{$lowConstraint|dotToArray}" 
						  size="5" min="0" step="1" required=""
						  class="input--number" 
						  value="{{ getDotted($input, $lowConstraint, '') }}" 
						  placeholder="{{ phrase('svSearchImprov_lower_bound') }}" /> 
			<span class="inputGroup-text">-</span>
			<xf:numberbox name="{$upperConstraint|dotToArray}" 
						  class="input--number" 
						  size="5" min="0" step="1" required=""
						  value="{{ getDotted($input, $upperConstraint, '') }}" 
						  placeholder="{{ phrase('svSearchImprov_upper_bound') }}" />
		</div>
	</xf:formrow>
</xf:macro>

<xf:macro name="date_range"
		  global="1"
		  arg-name="!"
		  arg-label="!"
		  arg-rowtype=""
		  >
	<xf:set var="$lowConstraint" value="c.{$name}.lower" />
	<xf:set var="$upperConstraint" value="c.{$name}.upper" />
	<xf:formrow label="{$label}" rowtype="{$rowtype}">
		<div class="inputGroup">
			<xf:dateinput name="{$lowConstraint|dotToArray}" 
						  required=""
						  value="{{ getDotted($input.c, $lowConstraint, '') }}" 
						  placeholder="{{ phrase('svSearchImprov_lower_bound') }}" /> 
			<span class="inputGroup-text">-</span>
			<xf:dateinput name="{$upperConstraint|dotToArray}" 
						  required=""
						  value="{{ getDotted($input, $upperConstraint, '') }}" 
						  placeholder="{{ phrase('svSearchImprov_upper_bound') }}" />
		</div>
	</xf:formrow>
</xf:macro>

<xf:macro name="user_field"
		  global="1"
		  arg-name="!"
		  arg-label="!"
		  arg-single="{{ true }}"
		  >
	<xf:set var="$constraint" value="c.{$name}" />
	<xf:textboxrow name="{$constraint|dotToArray}"
				   value="{{ getDotted($input, $constraint, '') }}"
				   ac="true"
				   label="{{ $label }}"
				   explain="{{ $single ? '' : phrase('separate_names_with_comma') }}"
				   />
</xf:macro>

<xf:macro name="multi_select_list"
		  global="1"
		  arg-name="!"
		  arg-default="{{ [] }}"
		  arg-label="!"
		  arg-keyValues="!"
		  >
	<xf:set var="$constraint" value="c.{$name}" />
	<xf:set var="$existing" value="{{ getDotted($input, $constraint, $default) }}"/>
	<xf:checkboxrow name="{$constraint}" label="{$label}">
		<xf:foreach loop="$keyValues" key="$key" value="$value">
			<xf:option value="{$key}" label="{$value}" checked="{{ in_array($key, $existing) }}" />
		</xf:foreach>
	</xf:checkboxrow>
</xf:macro>