<xf:macro name="search_only_container" 
		  arg-input="{{ [] }}" 
		  arg-containerType=""
		  arg-wrap="{{ true }}"
		  >

	<xf:if is="$containerType">
		<li>
			<xf:if is="$containerType === 'conversation'">
				<xf:set var="$label" value="{{ phrase('svSearchImprov_search_titles_and_first_messages_only') }}" />
			<xf:elseif is="$containerType === 'thread'" />
				<xf:set var="$label" value="{{ phrase('svSearchImprov_search_titles_and_first_posts_only') }}" />
			<xf:else />
				<xf:set var="$label" value="{{ phrase('svSearchImprov_search_x_only', {
					'containerType': $xf.app.getContentTypePhrase($containerType, true)|to_lower
				}) }}" />
			</xf:if>

			<xf:checkbox standalone="true">
				<xf:option name="c[content]" value="{$containerType}"
						   selected="{{ $input.c.content === $containerType }}"
						   label="{$label}"
						   />
			</xf:checkbox>
		</li>
	</xf:if>
</xf:macro>